@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100vh;
  background-color: #131520;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes glowEffect {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0f8cf3;
  }
  50% {
    text-shadow: 0 0 10px #f0edf0, 0 0 20px #1215bd, 0 0 30px #0a50e7;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #134be4;
  }
}

.animate-glow {
  animation: glowEffect 1.5s ease-in-out infinite;
}

body {
  font-family: 'Montserrat', sans-serif;
}


@keyframes slideInSpin {
  0% {
    transform: translateX(-100%) scale(0.8) rotate(-10deg);
    opacity: 0;
  }
  50% {
    transform: translateX(10%) scale(1.1) rotate(5deg);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.slideInSpin {
  animation: slideInSpin 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.shimmer-effect {
  position: relative;
  color: #fff;
  background: linear-gradient(90deg, #5991be 0%, #00c6ff 50%, #4a15ad 100%);
  background-size: 200% auto;
  animation: shimmer 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


.hover-effect {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-effect:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


.tilt-effect {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.tilt-effect:hover {
  transform: rotateX(5deg) rotateY(10deg);
}


@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotate-gradient {
  background: linear-gradient(45deg, #061047, #040322, #333333);
  background-size: 400% 400%;
  animation: rotateGradient 6s ease infinite;
}





